<div class="footer">
  <img class="logo" src="/assets/logo-branco.svg" alt="Logo" />

  <div class="social-media">
    <a href="https://www.facebook.com" target="_blank">
      <img class="img-logo" src="/assets/facebook-logo.svg" alt="Facebook" />
    </a>

    <a href="https://www.twitter.com" target="_blank">
      <img class="img-logo" src="/assets/twitter-logo.svg" alt="Twitter" />
    </a>

    <a href="https://www.youtube.com" target="_blank">
      <img class="img-logo" src="/assets/youtube-logo.svg" alt="Youtube" />
    </a>

    <a href="https://www.linkedin.com" target="_blank">
      <img class="img-logo" src="/assets/linkedin-logo.svg" alt="LinkedIn" />
    </a>
  </div>
</div>
