// OVERLAY
.scanner-overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: .5s ease-in-out;

  .texto-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: #0C1E58;
      text-align: center;
    }

    svg.icon{}

    svg.svg-clique {
      border: 2px solid #0C1E58;
      border-radius: 100%;
    }

    .iniciar-leitura {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
}

.scanner-overlay.slide-up {
  animation: slideUp .9s forwards;
}

// CONTAINER PRINCIPAL
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container-drop-msg-cam {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  height: 50px;
  width: 100%;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scanner {
  width: 100%;
  height: auto;
}

.menssagem {
  position: absolute;
}

.container-informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titulo-informacoes {
    text-align: center;
    color: #0C1E58;
    border-bottom: 1px solid rgba(37, 37, 37, 0.2);
  }

  .descricao-informacoes {
    display: flex;
    flex-direction: column;

    p {}
  }

  .informacao {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg.svg-icon{}
  }
}

/*
- MEDIAS
Max 480px, para dispositivos moveis [OK]
Mín 481px e Max 768px, para tablets [OK]
Mín 769px e Max 1024px, para laptops [OK]
Mín 1025px e Max 1920px, para telas grandes [OK]
Mín 1921px, para telas muito grandes [OK]
*/

@media (max-width: 480px) {
  .scanner-overlay {
    width: 100vw;
    height: calc(100vh - 100px);

    .texto-overlay {
      width: 100%;
      gap: 50px;

      h1 {
        font-size: 1rem;
        margin: 0;
      }

      svg.svg-clique{
        width: 40px;
        height: 40px;
        padding: 7px;
      }

      .iniciar-leitura {
        gap: 15px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .main-container {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
  .container-drop-msg-cam {
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .dropdown-container{}
  .camera-container {
    justify-content: start;
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .menssagem{
    margin-top: 50px;
  }
  .container-informacoes {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    max-width: 900px;

    .titulo-informacoes {
      width: 100%;

      h1{
        font-size: 1.5rem;
      }
    }

    .descricao-informacoes {
      padding: 0 0;
      line-height: 1;

      p {
        font-size: .8rem;
        line-height: 1.2;
        width: 100%;
      }
    }

    .informacao {
      width: 100%;
      gap: 10px;

      svg.svg-icon {
        width: 24px;
        height: 24px;
      }

      p{
        width: 90%;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .scanner-overlay {
    width: 100vw;
    height: calc(100vh - 100px);

    .texto-overlay {
      width: 100%;
      gap: 50px;

      h1 {
        font-size: 1.6rem;
        margin: 0;
      }

      svg.svg-clique{
        width: 40px;
        height: 40px;
        padding: 7px;
      }

      .iniciar-leitura {
        gap: 15px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .main-container {
    flex-direction: column;
    padding: 20px 5px;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
  .container-drop-msg-cam {
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .dropdown-container{}
  .camera-container {
    justify-content: start;
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .menssagem{
    margin-top: 80px;
  }
  .container-informacoes {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    max-width: 900px;

    .titulo-informacoes {
      font-size: .95rem;
      width: 100%;
    }

    .descricao-informacoes {
      padding: 0 0;
      line-height: 1;

      p {
        font-size: 1rem;
        line-height: 1.3;
        width: 100%;
      }
    }

    .informacao {
      width: 100%;
      gap: 10px;

      svg.svg-icon {
        width: 26px;
        height: 26px;
      }

      p{
        width: 90%;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .scanner-overlay {
    width: 100vw;
    height: calc(100vh - 100px);

    .texto-overlay {
      width: 100%;
      gap: 50px;

      h1 {
        font-size: 2rem;
        margin: 0;
      }

      svg.svg-clique{
        width: 40px;
        height: 40px;
        padding: 7px;
      }

      .iniciar-leitura {
        gap: 15px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .main-container {
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
  .container-drop-msg-cam {
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .dropdown-container {
    display: none;
    //max-width: 800px;
  }
  .camera-container {
    justify-content: start;
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .menssagem{
    margin-top: 150px;
    width: 300px;
  }
  .scanner {
    max-width: 800px;
    border: 1px solid rgba(37, 37, 37, 0.2);
  }
  .container-informacoes {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    max-width: 900px;

    .titulo-informacoes {
      font-size: 1rem;
      width: 100%;
    }

    .descricao-informacoes {
      padding: 0 0;
      line-height: 1;

      p {
        font-size: .9rem;
        line-height: 1.7;
        width: 100%;
      }
    }

    .informacao {
      width: 100%;
      gap: 10px;

      svg.svg-icon {
        width: 26px;
        height: 26px;
      }

      p{
        width: 90%;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1920px) {
  .scanner-overlay {
    width: 100vw;
    height: calc(100vh - 100px);

    .texto-overlay {
      width: 100%;
      gap: 50px;

      h1 {
        font-size: 2.6rem;
        margin: 0;
      }

      svg.svg-clique{
        width: 50px;
        height: 50px;
        padding: 7px;
      }

      .iniciar-leitura {
        gap: 15px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .main-container {
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }
  .container-drop-msg-cam {
    width: 100%;
    max-width: 810px;
    height: 100%;
    gap: 10px;
  }
  .dropdown-container {
    display: none;
    //max-width: 800px;
  }
  .camera-container {
    justify-content: start;
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .menssagem {
    margin-top: 180px;
  }
  .scanner {
    max-width: 800px;
    border: 1px solid rgba(37, 37, 37, 0.2);
  }
  .container-informacoes {
    padding: 0 0;
    width: 100%;
    height: 100%;
    max-width: 900px;

    .titulo-informacoes {
      font-size: 1.2rem;
      width: 100%;
    }

    .descricao-informacoes {
      padding: 0 0;
      line-height: 1;

      p {
        font-size: 1.2rem;
        line-height: 1.7;
        width: 100%;
      }
    }

    .informacao {
      width: 100%;
      gap: 10px;

      svg.svg-icon {
        width: 28px;
        height: 28px;
      }

      p{
        width: 90%;
      }
    }
  }
}

@media (min-width: 1921px) {
  .scanner-overlay {
    width: 100vw;
    height: calc(100vh - 100px);

    .texto-overlay {
      width: 100%;
      gap: 50px;

      h1{
        font-size: 3rem;
        margin: 0;
      }

      svg.svg-clique{
        width: 50px;
        height: 50px;
        padding: 7px;
      }

      .iniciar-leitura {
        gap: 15px;
        width: 100%;
        height: 60px;
      }
    }
  }
  .main-container {
    flex-direction: row;
    padding: 30px 30px;
    gap: 30px;
    height: calc(100vh - 110px);
  }
  .container-drop-msg-cam {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    gap: 10px;
  }
  .dropdown-container {
    display: none;
    //max-width: 900px;
  }
  .camera-container {
    justify-content: start;
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
  .scanner {
    max-width: 900px;
    border: 1px solid rgba(37, 37, 37, 0.2);
  }
  .menssagem {
    margin-top: 180px;
  }
  .container-informacoes {
    padding: 0 0;
    width: 100%;
    height: 100%;
    max-width: 1200px;

    .titulo-informacoes {
      width: 100%;

      h1{
        font-size: 3.5rem;
      }
    }

    .descricao-informacoes {
      padding: 0 0;
      line-height: 1;

      p {
        font-size: 1.5rem;
        line-height: 1.7;
        width: 100%;
      }
    }

    .informacao {
      width: 100%;
      gap: 10px;

      svg.svg-icon {
        width: 45px;
        height: 45px;
      }

      p{
        width: 90%;
      }
    }
  }
}
