.conteiner{
  height: 60px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
.logo {
  width: 8rem;
}
.btn-logout{
  height: 35px;
  width: 100px;
}


@media (max-width: 768px) {
  .logo {
    width: 6rem;
  }
  .btn-logout{
    height: 35px;
    width: 90px;
  }
}
