.conteiner{
  height: 60px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  position: sticky;
}
.logo {
  width: 7rem;
}

@media (max-width: 768px) {
  .conteiner{
    justify-content:center;
    padding: 0;
  }
  .logo {
    width: 6rem;
  }
}
