<section>
  <div class="container">
    <h1 class="card-title">{{ product.nome || "Nome do Produto" }}</h1>

    <div class="card-content">
      <div class="card-image">
        <img
          [alt]="'Imagem do(a) ' + product.nome"
          [src]="imagemProduto ? 'data:image/png;base64,' + imagemProduto : 'assets/noImage.svg'"
        />
      </div>
      <!-- fim do card-image -->
      <div class="card-detalhes">
        <div class="precos">
          <!-- <p class="preco-anterior" *ngIf="product.precoAnterior">de: <s>{{ product.precoAnterior || "00,00" }}</s></p> -->
          <p class="preco-atual">R$ {{ product.preco || "00,00" }}</p>
        </div>
        <!-- fim do precos -->
        <div class="descricao-conjunto">
          <div class="descricao-ingredientes">
            <p class="titulo">INGREDIENTES:</p>
            <p class="conteudo-ingredientes">
              {{ product.ingredientes || "Ingredientes do Produto" }}
            </p>
          </div>
          <!-- fim do descricao-ingredientes -->

          <!-- fim do descricao-extra -->
          <div class="descricao-extra">
            <div style="display:flex;flex-direction:row;gap:5px;">
              <p class="titulo">FABRICAÇÃO:</p>
              <p class="titulo">{{ product.dataFabricacao | date : "dd/MM/yyyy" }}</p>
            </div>
            <div style="display:flex;flex-direction:row;gap:5px;">
              <p class="titulo">VALIDADE:</p>
              <p class="titulo">{{ product.validade | date : "dd/MM/yyyy" }}</p>
            </div>
            <div style="display:flex;flex-direction:row;gap:5px;">
              <p class="titulo">LOTE:</p>
              <p class="titulo">{{ product.lote }}</p>
            </div>
          </div>
          <!-- fim do descricao-extra -->
        </div>
        <!-- fim do descricao-conjunto -->
      </div>
      <!-- fim do card-detalhes -->
    </div>
    <!-- fim do card-content -->
    <div class="detalhes">
      <h3>DESCRIÇÃO</h3>
      <table>
        <tbody>
        <tr>
          <td class="cabecalho">CATEGORIA:</td>
          <td class="conteudo">
              <span *ngFor="let categoria of product.categorias; let i = index">
                {{
                  categoria
                }}<span *ngIf="i < product.categorias.length - 1">, </span>
              </span>
          </td>
        </tr>
        <tr>
          <td class="cabecalho">MARCA:</td>
          <td class="conteudo">{{ product.marca }}</td>
        </tr>
        <tr>
          <td class="cabecalho">PESO ({{ product.unidadeMedida }}):</td>
          <td class="conteudo">{{ product.peso }}</td>
        </tr>
        <tr>
          <td class="cabecalho">PAIS DE ORIGEM:</td>
          <td class="conteudo">{{ product.paisOrigem }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="historia-produto">
      <div *ngIf="product.descricao">
        <div [innerHTML]="product.descricao"></div>
      </div>
      <!-- <div *ngIf="product.tabelaNutricional">
        {{ product.tabelaNutricional }}
      </div> -->
    </div>
    <!-- fim do historia-produto -->
    <div class="div-carrossel" *ngIf="produtosSimilares.length > 0">
      <p class="titulo-carrossel">Produtos Semelhantes:</p>
      <carrossel-similares [produtosSimilares]="produtosSimilares"></carrossel-similares>
    </div>
  </div>
  <!-- fim do container -->
</section>
