<!--TODO: Criar o template do componente de detalhes do produto-->
<div class="product-detail-container">
    <h2>{{ product.nome }}</h2>
    <p>Descrição: {{ product.descricao }}</p>
    <p>Marca: {{ product.marca }}</p>
    <p>Validade: {{ product.validade | date: 'dd/MM/yyyy' }}</p>
    <p>Unidade de Medida: {{ product.unidadeDeMedida }}</p>
    <p>Ingredientes: {{ product.ingredientes }}</p>
    <p>País de Origem: {{ product.paisOrigem }}</p>
    <p>Categoria: {{ product.categoria }}</p>
  </div>
