<div class="form-container">
  <p-card>
    <form (ngSubmit)="onSave()" [formGroup]="produtoForm">
      <div class="form-grid">
        <!-- Nome e Marca na mesma linha -->
        <div class="form-row">
          <div class="form-col">
            <label for="nome">Nome:</label>
            <input
              id="nome"
              type="text"
              pInputText
              formControlName="nome"
              required
            />
            <p-message
              *ngIf="
                produtoForm.get('nome')?.touched &&
                produtoForm.get('nome')?.invalid
              "
              severity="error"
              text="O nome é obrigatório e deve ter entre 3 e 50 caracteres"
            ></p-message>
          </div>

          <div class="form-col">
            <label for="marca">Marca:</label>
            <input id="marca" type="text" pInputText formControlName="marca" />
            <p-message
              *ngIf="
                produtoForm.get('marca')?.touched &&
                produtoForm.get('marca')?.invalid
              "
              severity="error"
              text="A marca é obrigatória e deve ter entre 2 e 30 caracteres"
            ></p-message>
          </div>
        </div>

        <!-- Descrição na linha abaixo -->
        <div>
          <label for="descricao">Descrição:</label>
          <textarea
            id="descricao"
            pInputTextarea
            formControlName="descricao"
            rows="4"
          ></textarea>
          <p-message
            *ngIf="
              produtoForm.get('descricao')?.touched &&
              produtoForm.get('descricao')?.invalid
            "
            severity="error"
            text="A descrição é obrigatória e deve ter entre 10 e 200 caracteres"
          ></p-message>
        </div>

        <div class="form-row">
          <div class="form-col">
            <label for="dataFabricacao">Data de Fabricação:</label>
            <p-calendar
              id="dataFabricacao"
              formControlName="dataFabricacao"
              dateFormat="dd/mm/yy"
              [style]="{ width: '100%' }"
            ></p-calendar>
            <p-message
              *ngIf="
                produtoForm.get('dataFabricacao')?.touched &&
                produtoForm.get('dataFabricacao')?.invalid
              "
              severity="error"
              text="A data de fabricação não deve ser uma data futura"
            ></p-message>
          </div>

          <div class="form-col">
            <label for="validade">Validade:</label>
            <p-calendar
              id="validade"
              formControlName="validade"
              dateFormat="dd/mm/yy"
              [style]="{ width: '100%' }"
            ></p-calendar>
            <p-message
              *ngIf="
                produtoForm.get('validade')?.touched &&
                produtoForm.get('validade')?.invalid
              "
              severity="error"
              text="A validade deve ser uma data futura"
            ></p-message>
          </div>

          <div class="form-col">
            <label for="lote">lote:</label>
            <input id="lote" type="text" pInputText formControlName="lote" />
            <p-message
              *ngIf="
                produtoForm.get('lote')?.touched &&
                produtoForm.get('lote')?.invalid
              "
              severity="error"
              text="O lote é obrigatório e deve ter entre 2 e 20 caracteres"
            ></p-message>
          </div>
        </div>
        <!-- Validade, Unidade de Medida e Peso na mesma linha -->
        <div class="form-row">
          <div class="form-col">
            <label for="unidadeMedida">Unidade de Medida:</label>
            <p-dropdown
              [options]="unidadeMedida"
              filter="false"
              formControlName="unidadeMedida"
              id="unidadeMedida"
              placeholder="Selecione uma unidade de medida"
              [style]="{ width: '100%' }"
            ></p-dropdown>
            <p-message
              *ngIf="
                produtoForm.get('unidadeMedida')?.touched &&
                produtoForm.get('unidadeMedida')?.invalid
              "
              severity="error"
              text="Selecione uma unidade de medida"
            ></p-message>
          </div>

          <div class="form-col">
            <label for="peso">Peso:</label>
            <input id="peso" type="number" pInputText formControlName="peso" />
            <p-message
              *ngIf="
                produtoForm.get('peso')?.touched &&
                produtoForm.get('peso')?.invalid
              "
              severity="error"
              text="O peso deve estar entre 0.1 e 1000"
            ></p-message>
          </div>
          <div class="form-col">
            <label for="preco">Preço:</label>
            <input
              id="preco"
              type="number"
              pInputText
              formControlName="preco"
            />
            <p-message
              *ngIf="
                produtoForm.get('preco')?.touched &&
                produtoForm.get('preco')?.invalid
              "
              severity="error"
              text="O preço é obrigatório e deve ser um número válido com até duas casas decimais."
            >
            </p-message>
          </div>
        </div>

        <!-- Ingredientes em toda a largura -->
        <div>
          <label for="ingredientes">Ingredientes:</label>
          <textarea
            id="ingredientes"
            pInputTextarea
            formControlName="ingredientes"
            rows="4"
          ></textarea>
          <p-message
            *ngIf="
              produtoForm.get('ingredientes')?.touched &&
              produtoForm.get('ingredientes')?.invalid
            "
            severity="error"
            text="Os ingredientes são obrigatórios e devem ter entre 5 e 100 caracteres"
          ></p-message>
        </div>

        <!-- País de Origem e Categoria na mesma linha -->
        <div class="form-row">
          <div class="form-col">
            <label for="paisOrigem">País de Origem:</label>
            <input
              id="paisOrigem"
              type="text"
              pInputText
              formControlName="paisOrigem"
            />
            <p-message
              *ngIf="
                produtoForm.get('paisOrigem')?.touched &&
                produtoForm.get('paisOrigem')?.invalid
              "
              severity="error"
              text="O país de origem é obrigatório e deve ter entre 2 e 50 caracteres"
            ></p-message>
          </div>
          <div class="form-col">
            <label for="categorias">Categoria:</label>
            <p-multiSelect
              [options]="categorias"
              formControlName="categorias"
              optionLabel="nome"
              placeholder="Selecione as categorias"
              [style]="{ width: '100%' }"
              display="chip"
              [showToggleAll]="false"
            ></p-multiSelect>
            <p-message
              *ngIf="
                produtoForm.get('categorias')?.touched &&
                produtoForm.get('categorias')?.invalid
              "
              severity="error"
              text="Selecione pelo menos uma categoria"
            ></p-message>
          </div>
        </div>
        <div class="p-fluid">
          <div class="p-field">
            <label for="tags">Marcadores:</label>
            <p-chips
              id="tags"
              formControlName="tags"
              [max]="5"
              allowDuplicate="false"
              separator=","
            >
            </p-chips>
          </div>
        </div>
        <!-- Botões -->
        <div class="form-buttons">
          <p-fileUpload
            #fileUpload
            name="image"
            (onSelect)="onImageSelect($event)"
            accept="image/*"
            mode="basic"
            auto="false"
            customUpload="true"
            chooseLabel="Escolher Imagem"
          ></p-fileUpload>

          <p-button
            [disabled]="produtoForm.invalid"
            type="submit"
            label="Salvar"
            icon="pi pi-check"
            [style]="{ background: ' #0C1E58', border: 'none' }"
          ></p-button>

          <p-button
            type="button"
            (click)="onCancel()"
            label="Cancelar"
            icon="pi pi-times"
            [style]="{
              background: 'white',
              'border-color': '#0C1E58',
              color: '#0C1E58'
            }"
          ></p-button>
        </div>
      </div>
    </form>
  </p-card>
</div>
