.form-container {
  width: 100%;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-col {
  flex: 1;
}

input[type="text"],
input[type="number"],
textarea{
  width: 100%;
}

/* Botões */
.form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}
