<div class="container">
  <h1 class="title">LISTAGEM DE PRODUTOS</h1>
  <div class="header">
    <button
      (click)="showFormDialog()"
      class="new-product-button"
      icon="pi pi-plus"
      label="Novo Produto"
      pButton
      type="button"
    ></button>
  </div>

  <!-- Spinner de carregamento -->
  <div class="custom-spinner">
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  </div>

  <div *ngIf="!isLoading && produtos.length > 0" class="card-container">
    <p-card *ngFor="let produto of produtos" class="product-card">
      <ng-template pTemplate="header">
        <div class="card-header">
          <h2>{{ produto.nome }}</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="card-content">
          <p>Marca: {{ produto.marca }}</p>
          <p>Validade: {{ produto.validade | date : "dd/MM/yyyy" }}</p>
          <p>
            Especificação: {{ produto.peso }}
            {{ produto.unidadeMedida | lowercase }}
          </p>
          <!-- <p>Categoria: {{ produto.categorias }}</p> -->
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="card-footer">
          <button
            (click)="viewProduct(produto)"
            aria-label="Detalhes"
            icon="pi pi-eye"
            pButton
            pTooltip="Mais detalhes"
            tooltipPosition="top"
          ></button>
          <button
            (click)="editProduct(produto)"
            aria-label="Editar"
            icon="pi pi-pencil"
            pButton
            pTooltip="Editar"
            tooltipPosition="top"
          ></button>
          <button
            (click)="deleteProduct(produto)"
            aria-label="Excluir"
            icon="pi pi-trash"
            pButton
            pTooltip="Excluir"
            tooltipPosition="top"
          ></button>
          <button
            (click)="showQrCodeDialog(produto)"
            aria-label="Code"
            pButton
            pTooltip="Gerar QR Code"
            icon="pi pi-qrcode"
            tooltipPosition="top"
          ></button>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div *ngIf="!isLoading && produtos.length === 0" class="no-products-message">
    <p>Sem produtos cadastrados</p>
  </div>

  <br /><br />
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="[12, 36, 48]"
    [rows]="rows"
    [totalRecords]="totalRecords"
  ></p-paginator>
  <p-dialog
    (onHide)="closeFormDialog()"
    [(visible)]="displayFormDialog"
    [baseZIndex]="10000"
    [closable]="false"
    [modal]="true"
    [resizable]="true"
    [style]="{ width: '70vw' }"
    header="{{ isEditMode ? 'Editar Produto' : 'Cadastrar Produto' }}"
  >
    <app-produto-form
      (save)="onSave()"
      [produto]="selectedProduct"
      (cancel)="closeFormDialog()"
    >
    </app-produto-form>
  </p-dialog>

  <p-dialog
    (onHide)="closeDetailsDialog()"
    [(visible)]="displayDetailsDialog"
    [baseZIndex]="10000"
    [closable]="true"
    [modal]="true"
    [resizable]="true"
    [style]="{ width: '70vw' }"
    header="Detalhes do Produto"
  >
    <app-produto-details [product]="selectedProduct"></app-produto-details>
  </p-dialog>

  <p-dialog
    [(visible)]="displayQrCodeDialog"
    [baseZIndex]="10000"
    [closable]="false"
    [modal]="true"
    [resizable]="true"
    [style]="{ width: '70vw' }"
    header="QR Code do Produto"
  >
    <div class="modal-content">
      <div class="p-field switch-container">
        <label for="toggleQrCode">Exibir QR code com link dinâmico</label>
        <p-inputSwitch
          [(ngModel)]="isLinkQrCode"
          (onChange)="toggleQrCodeType()"
        ></p-inputSwitch>
      </div>

      <div class="qr-code-container">
        <qrcode
          style="display: flex; justify-content: space-around"
          [qrdata]="selectedQrCode"
          [margin]="2"
          [width]="350"
        >
        </qrcode>
      </div>
    </div>

    <div class="modal-footer">
      <p-button
        type="button"
        (click)="printQrCode()"
        label="Imprimir QR Code"
        icon="pi pi-print"
        [style]="{ background: ' #0C1E58', border: 'none' }"
      ></p-button>
      <p-button
        type="button"
        (click)="closeQrCodeDialog()"
        label="Cancelar"
        icon="pi pi-times"
        [style]="{
          background: 'white',
          'border-color': '#0C1E58',
          color: '#0C1E58',
          'margin-left': '1rem'
        }"
      ></p-button>
    </div>
  </p-dialog>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
