.container {
  padding: 20px;
  background-color: #f8f8f8;
}

.custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  color: #0C1E58;
  text-align: center;
  font-size: 2rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
  margin: 0;
}

.no-products-message {
  text-align: center;
  padding: 20px;
  color: #888;
  font-size: 1.2em;
}


.new-product-button {
  display: flex;
  align-items: center;
  background-color: #0C1E58;
  border: none;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  /* Alinha os itens à esquerda */
  flex-wrap: wrap;
  gap: 20px;
}

.card-content {
  padding: 20px;
}

.product-card {
  width: calc(25% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
  border: 2px solid #dddd;
}

.product-card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  border-bottom: 1px solid #dddd;
  background-color: white;
}

.card-header h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  /* Alinha os itens à esquerda */
}


.card-content p {
  font-size: 1rem;
  margin: 0;
  line-height: 2;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* Adiciona algum espaçamento interno */
}

.switch-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.p-field {
  display: flex;
  align-items: center;
}

.p-field label {
  margin-bottom: 5px;
}

.p-inputSwitch {
  margin-top: 5px;
}


.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* Espaço entre o QR code e o rodapé */
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  /* Alinha o botão ao lado direito */
  padding: 5px;
}

.modal-footer button {
  background-color: #0C1E58;
  /* Cor do botão */
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.modal-footer button:hover {
  background-color: #1d3892;
}

.modal-footer button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.modal-footer button:focus {
  background-color: #1d3892;
}

.card-footer button {
  /* Estilo dos botões no card */
  flex: 1;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  background-color: #0C1E58;
  border: none;
}



// TODO: Ativar estilo da imagem do produto
// /* Estilo da imagem do produto */
// .product-card img {
//   width: 100%; /* Ajusta a imagem para ocupar toda a largura do card */
//   height: auto; /* Mantém a proporção da imagem */
//   object-fit: cover; /* Cobre o card com a imagem */
// }

@media (max-width: 1200px) and (min-width: 769px) {
  .product-card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {

  .container {
    padding: 0;
  }

  .title {
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
  }

  .header {
    padding: 10px 10px;
    margin: 0;
  }

  .new-product-button {
    font-size: 0.7rem;
  }

  .card-container {
    gap: 15px;
  }

  .product-card {
    width: calc(100% - 15px);
    /* Um card por linha em telas menores */
  }

  .product-card:hover {
    transform: none;
  }

  .card-header {
    padding: 10px 20px;
  }

  .card-header h2 {
    font-size: 1rem;
  }

  .card-content {
    padding: 0;
  }

  .card-content p {
    font-size: 0.8rem;
  }

  .card-footer {
    flex-direction: row;
  }

  .card-footer button {
    font-size: 0.7rem;
  }

  .modal-content {
    padding: 10px;
  }

  .qr-code-container {
    width: 100%;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  @media (max-width: 480px) {
    .modal-content {
      padding: 5px;
    }

    .modal-footer button {
      font-size: 0.8rem;
      padding: 8px 16px;
    }
  }
}