.login-forms { // Estilo da div que contém o card
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  padding-top: 30px;
}

::ng-deep .p-card-body,
::ng-deep .p-card-content {
  padding: 0;
}

p-card { // Estilo do card
  width: 450px;

  h1 { // Título do card
    font-weight: 600;
    text-align: center;
    color: #0C1E58;
    padding-top: 10px;
    margin: 0;
  }

  p { // Texto de descrição do card
    font-size: 1.5rem;
    font-weight: 500;
    color: #0C1E58;
    text-align: center;
    padding: 10px 40px 0 40px;
    margin: 0;
  }

  form { // Formulário de login
    padding-top: 50px;
  }
}

textarea:focus, input:focus, select:focus { // Reset das bordas dos inputs
  box-shadow: 0 0 0 0;
}

div input { // Estilo dos inputs
  width: 100%;
  padding: 10px;
  height: 50px;
  font-size: 1.3rem;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid rgba(#0C1E58, 0.5);
}

div input:focus { // Estilo do input no modo focus
  border: none;
  border-bottom: 3px solid #0C1E58;
}

div input::placeholder { // Placeholder dos inputs
  font-size: 1.2rem;
  color: rgba(#404B52, 0.5);
}

.campos { // Div com os conjuntos de inputs
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  padding: 0 30px 70px 30px;
}

.campos div { // Divs com campo de input
  height: 90px;
}

form button { // Estilo botão de login
  width: 100%;
  height: 90px;
  background: #0C1E58;
  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 768px) { // Configurações Mobile
  .login-forms { // Estilo da div que contém o card
    margin-top: 0;
  }
  p-card { // Estilo do card
    width: 300px;

    h1 { // Título do card
      padding: 30px 20px 10px 20px;
    }

    p { // Texto de descrição do card
      font-size: 1.2rem;
    }

    form { // Formulário de login
      padding-top: 50px;
    }
  }

  div input { // Estilo dos inputs
    height: 40px;
    font-size: 1.1rem;
  }

  div input::placeholder { // Placeholder dos inputs
    font-size: 1.2rem;
  }

  .campos { // Div com os conjuntos de inputs
    padding: 0 10px 30px 10px;
  }

  form button { // Estilo botão de login
    height: 80px;
    font-size: 1.5rem;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
}
